<div class="my-3">
  <div class="row">
    <h2 *ngIf="similar[0]?.title" class="h3 mb-2">Simiar Movies</h2>
    <h2 *ngIf="similar[0]?.name" class="h3 mb-2">Simiar TV</h2>
    <div *ngFor="let item of similar" class="col-md-2">
      <div class="my-2 position-relative" style="cursor: pointer;" routerLink="/details/{{item.id}}/{{mediaType}}">
        <img [src]="'https://image.tmdb.org/t/p/w500'+item?.poster_path" class="w-100" alt="">
        <h2 *ngIf="item.title" class="h6 py-2">{{item?.title}}</h2>
        <h2 *ngIf="item.name" class="h6 py-2">{{item?.name}}</h2>
        <div class="vote position-absolute top-0 end-0 bg-black rounded-3"> <i class="fa-solid fa-star" style="font-size: 12px; color: yellow;">{{item.vote_average.toFixed(1)}}</i></div>
      </div>
    </div>
  </div>
</div>


